HELP.md
.DS_Store
target/
package-lock.json
ca.crt
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

/logs
*.log
*.log*

Thumbs.db
.tmp/

typings/

dist/
tsconfig.build.json

*.swp
.awcache

src/**/*.js
src/**/*.js.map
!src/public/**/*
test/**/*.js
test/**/*.js.map
coverage/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
/.idea
.idea/
*.iws
*.iml
*.ipr